*{
    white-space: nowrap;
}
body{
    background-color: white;
}
#header{
    width: 100%;
    background: #00559A;
    padding: 20px 0;
    box-sizing: border-box;
}

#header>ul{
    width: 1220px;
    margin: auto;
}
#header>ul>li{
    display: block;
    float: right;
    height: 16px;
    font-size: 13px;
    border-right: 1px solid white;
    padding: 0 10px;
}
#header p{
    height: 45px;
    width: 1220px;
    margin: auto;
    padding-right: 20px;
    margin-top: 20px;
}
#header>p img{
    height: 40px;
}
#header>p input{
    box-sizing: border-box;
    height: 40px;
    width: 198px;
    padding-left: 13px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    outline: none;
}
#header>p>a{
    cursor: pointer;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
    padding: 8px;
    width: 40px;
}
#header>p>a>img{
    height: 24px;
    width: 25px;
}
nav{
    width: 100%;
    background: #E0E3E9;
}
nav>ul{
    width: 1220px;
    margin: auto;
    height: 42px;
    line-height: 42px;
}
nav>ul>li{
    display: block;
    float: left;
    width: 80px;
    margin-right: 15px;
}
nav>ul>li>a{
    text-align: center;
    display: block;
    box-sizing: border-box;
    width: 80px;
    height: 42px;
    float: left;
    color: black;
    font-weight: bold;
}
#nav-list>li{
     position: relative;
    text-align: center;
 }
#nav-list>li a:hover{
    color: #EC003D;
    border-bottom: 3px solid #EC003D;
}
.drop-list{
    color: #A7A9AB;
    overflow: hidden;
    background-color: white;
    position: absolute;
    width: 180px;
    height: 0;
    text-align: center;
    left: -70px;
    top: 43px;
    padding-left: 15px;
    z-index: 50;
    transition: all 1s;
}
#team .left ol a{
    color: #A7A9AB;
}
#team .right ol a{
    color: #A7A9AB;
}
#team{
    width: 400px;
}
#team>li{
    width: 50%;
}
nav>p{
    background: url("../img/1920-CN_2017052797788888.jpg") no-repeat;
    height: 32px;
    width: 100%;
}
#footer{
    box-sizing: border-box;
    padding: 64.5px;
    padding-top: 40px;
    height: 408px;
    width: 100%;
    background-color: #00559A;
}
.footer-new-content{
     border-bottom: 2px solid white;
 }
.sec p{
    height: 50px;
}
.third>div{
    height: 80px;
    position: relative;
}
.forth p{
    height: 37px;
    color: white;
}
.footer-beian a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid white;
}
.footer-qrCode-img img{
    width: 90px;
    height: 90px;
}
.footer-qrCode-img{
    display: none;
    background-color: white;
    height: 90px;
    width: 90px;
    position:absolute;
    padding: 3px;
    top: 0;
    left: 80px;
}
#main{
    width: 1220px;
    margin: auto;
}
.details-list{
    margin: 20px 0;
}
.left-img{
    position: relative;
    width: 641.5px;
    float: left;
}
.small-img-boxer{
    overflow: hidden;
}
.cloth-details{
    width: 100%;
}
.small-img{
    position: relative;
    top: 0;
    padding-top: 30px;
    height: 495px;
    box-sizing: border-box;
    margin: 9px;
    margin-top: -11px;
    letter-spacing: 0;
}
.small-img>li>img{
    border: 2px solid #D1D3D4;
    width: 82px;
    height: 82px;
}
.small-img>li{
    padding: 12px 0;
}
.big-img{
    position: relative;
    float: left;
    width: 495px;
    height: 495px;
    border: 1px solid #D1D3D4;
    z-index: 10;
}
.big-img:hover{
    cursor: crosshair;
}
.big-img img{
    width: 100%;
}
.scale-mirror{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 1px solid #D0D0D0;
    box-shadow: 2px 2px 2px gray;
    position: absolute;
    display: none;
}
.scale-img{
    width: 0;
    height: 0;
    border: 1px solid #D1D3D4;
    position: absolute;
    left: 250px;
    top: 250px;
    transition: all .5s;
}
.left-img a{
    display: block;
    height: 20px;
    width: 90px;
    color: black;
}
.pdp-scroll-y-btnL{
    position: absolute;
    left: 8px;
    top: 0;
    background-color: white;
    cursor: pointer;
}
.pdp-scroll-y-btnR{
    position: absolute;
    left: 8px;
    top: 97%;
    background-color: white;
    cursor: pointer;
}
.pdp-scroll-y-btnR span {
    display: block;
    width: 32px;
    height: 14px;
    background: url(../img/icons.png) -234px -1476px no-repeat;
    margin:auto;
}
.pdp-scroll-y-btnL span {
    display: block;
    width: 32px;
    height: 14px;
    background: url(../img/icons.png) -10px -1476px no-repeat;
    margin:auto
}
.right-express{
    float: left;
    width: 558.5px;
}
.commodity_number{
    width: 558.5px;
    height: 17px;
    line-height: 17.5px;
    font-size: 12px;
    color: rgb(88, 89, 91);
}
.commodity_title{
    margin: 0;
    padding: 0 6% 10px 0;
    font-size: 24px;
    font-weight: bold;
}
.commodity_price{
    margin: 0;
    padding: 0 6% 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #00559A;
    border-bottom: 2px solid #E0E3E9;
}
.model-div{
    position: absolute;
    width: 495px;
    height: 495px;
    left: 0;
    top: 0;
    z-index: 5;
}
.minus{
    background-color:#B4B4B4;
    display: inline-block;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    font-weight: 900;
    cursor: pointer;
}
.commodity-number{
    box-sizing: border-box;
    position: relative;
    height: 36px;
    width: 36px;
    margin-left: 2px;
    top: -2px;
    text-align: center;
}
.plus{
    margin-left: 2px;
    background-color:#00539C;
    display: inline-block;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    font-weight: 900;
    cursor: pointer;
}
.pdp-desc-title{
    margin: 20px 0;
}
.details-express{
    padding-left: 106px;
    width: 1200px;
    margin: auto;
}
.pdp-description ul{
    margin-left: 40px;
    font-size: 14px;
    line-height: 24px;
}
.pdp-description>p{
    width: 989px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}