
/********************  logo部分  ******************/

.header_start:after{
  content:"";
  display:block;
  clear:both;
}
.header_start{
  width:1282px;
  margin-bottom:-24px;
  clear:both;
  padding:30px;
  position:relative;
}
.header_start>div{
  float:left;
}
.header_start_logo{
  width:219px;
  height:84px;
  margin:auto; 
  text-align:center;
}

/***********************  city部分  **********************/

.header_start_city{
  margin:30px 25px;
 width:50px;
 height:50px;
}
.header_start_city>a{
  width:50px;
 height:50px;
}
.hs_city{
 
 width:600px;
 box-shadow: 0 0 2px rgba(153, 153, 153,0.5);
 z-index:200;
 position:absolute;
 top:105px;
 left:152px;
 background-color:#fff;
 opacity:0;
 transition:all 0.5s linear;
}
.hs_city_click{
  opacity:1;
  
}
.hs_city>li{
 float:left;
 margin:6px 10px;
}


/************************搜索部分****************************/

.header_start_search{
  width:516px;
  height:48px;
  margin:22px 0 22px 100px;
}
.input:after{
  content:"";
  display:block;
  clear:both;
}
.input{
  width:365px;
  height:49px;
  padding:10px 20px;
  border-top-left-radius:5%;
  border-bottom-left-radius:5%;
  border:2px #375ba6 solid;
  float:left;
}
.button{
 width:92px;
 height:49px;
 border-top-right-radius:5%;
 border-bottom-right-radius:5%;
 display:block;
 color:#fff;
 background-color:#375ba6;
 border:2px #375ba6 solid;
 font-size:16px;
 float:left;
}
/**********************右侧部分*******************/
.header_start_phone{
 margin:20px 0 20px 100px;
}
.biaoyu{
  display:block;
  font-size:22px;
  color:#666;
  
}
.phone{
  display:block;
  font-size:20px;
  color:#f60;
  padding-left:30px;
}

.header_end{
  position:relative;
  width:1282px;
  height:40px;
}
.header_end_ul{
  position:absolute;
  left:345px;
}
.header_end_ul li{
  float:left;
  font-size:19px;
  text-align:center;
  margin:0 30px;
}


