img{
    border: 0;
}
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, p, form { margin:0}
body, button, input, select, textarea { font:12px/1.5 tahoma, '\5b8b\4f53', sans-serif}
a { text-decoration:none}
a:hover {text-decoration:none}
.wrap{
    background-color: #000;
}
.login_use{
    float: right;
    height: 58px;
    line-height: 58px;
    position: absolute;
    top: -3px;
    right: -93px;

    font-size: 14px;
}
.login_use span{
    color: indianred;
}
.login_use a{
    text-decoration: none;
    color: #CFB4AD;
}
.w_index_bg{
    background: url("../img/image/b.jpg") no-repeat center top;
    width: 100%;
    height: 888px;
}
.index_bg{
    width: 1000px;
    height: 888px;
    background: url("../img/image/b1.jpg") no-repeat center top;
    margin: 0 auto;
    padding: 352px 15px 38px 15px;
}
.lfsider {
    width: 233px;
    float: left;
    margin-right: 10px;
    background: #000;
    position: relative;
    padding-top: 125px;
}

.lfsider .mini {
    width: 233px;
    background: url("../img/image/xz1.jpg") 0 -125px;
    height: 57px;
    overflow: hidden;
    text-indent: -999em;
    top: 127px;
}


.lfsider a {
    display: block;
    width: 233px;
    position: absolute;
    z-index: 9;
}
.lfsider a.wz {
    height: 125px;
    background:url("../img/image/xz1.jpg") 0 0;
    top: 0;
    overflow: hidden;
    text-indent: -999em;

}
.lfsider .oth {
    width: 233px;
    height: 57px;
    background:url("../img/image/xz2.jpg") 233px -535px;
    top: 184px;
    overflow: hidden;
    text-indent: -999em;
}
.lfsider a.act {
    height: 57px;
    background:url("../img/image/xz1.jpg") 0 -182px;
    top: 241px;
    overflow: hidden;
    text-indent: -999em;
}
.midsider {
    width: 482px;
    height: 296px;
    float: left;
    background: #000;
}
.midsider img {
    cursor:pointer;
    position: absolute;
}
.rtsider {
    width: 235px;
    height: 296px;
    float: right;
}
.flbtn {
    width: 235px;
    height: 174px;
    margin-bottom: 14px;
    background: #000;
}
.rtbanner {
    width: 235px;
    height: 107px;
    display: block;
    background: #000;
}
.banner {
    overflow: hidden;
    width: 100%;
    padding-top: 12px;
}
.banner ul {
    padding: 0;
    margin: 0;
    width: 970px;
}
.banner ul li a {
    width: 236px;
    height: 218px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.banner ul li {
    width: 236px;
    height: 109px;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin-right: 8px;
    background: #000;
    position: relative;
}
.banner ul li.m {
    margin-right: 0;
}
.banner ul li a:hover { top:-109px;}
.foot_index {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    color: #5e5e5e;
}
.copyright {
    width: 960px;
    position: relative;
    border-top: 1px solid #222222;
    padding: 20px 0 30px 0;
}
.copyright a{
    text-decoration: none;
    color: #5e5e5e;
}
.footer-box {
    width: 960px;
    padding: 0 0 10px 310px;
    margin: 0 auto;
    position: relative;
    color: #5e5e5e;
    line-height: 20px;
    font-size: 12px;
    min-height: 80px;
}
.company a {
    display: block;
    width: 121px;
    height: 41px;
    text-indent: -999px;
    overflow: hidden;
}
.company{
    background: url("../img/image/common.png") 0 -58px;
    width: 275px;
    height: 43px;
    position: absolute;
    left: 0px;
    top: 8px;
}
.footer-box p{
    display: block;
}
.l {color: #b7bcc5;}
.d {
    display: inline-block;
    margin: 0;
    height: 20px;
}
.r {
    float:right;
    margin: -20px 3px 0 0;
}


.cytxt {
    width: 650px;
    height: 75px;
    margin-left: 310px;
    font-size: 12px;
    font-family: "Microsoft Yahei";
}