body{
    box-sizing:border-box;
    padding-top:80px;
}
hr{
     color:#E8E9EA;
 }
 #my-logo{
    width:50px;
    height:40px;
    padding-right:10px;
     margin-left:30px;
 }

.myh-nav a.navbar-brand{
  
   padding:0;
   margin:0 10px;
}
.myh-nav .slogan{
  line-height:40px;
  font-size:30px;
}
.myh-nav .navbar,.navbar-default{
    border-color:#fff ;
    background-color:#fff !important;
	margin-top:25px;
    width:auto;
    box-shadow: 0 0 0 0 #fff;
   

}
.myh-nav{
    
    height:80px;
    left:0;
    top:0;
    right:0;
    position:fixed;

    z-index:1000;
    background:#fff;
}

/*********************导航*********************/
 .myh-nav .navbar > .navbar-brand {
    margin-left:13px;
    
}
 .myh-nav .slogan{
     margin-left:0px;
 }
.myh-nav .navbar-default .navbar-collapse,.myh-nav .navbar-default .navbar-form{
    background-color:#fff;
}
.myh-nav .navbar-nav > li{
    padding:0 10px;
}
.myh-nav .navbar-default .navbar-nav>li>a{
    font-size: 20px;
    color:#333;
}
.myh-nav .navbar-default .navbar-nav>li:last-child>a{
    color:#fff;
}
.myh-nav .Login{
    border:1px solid #00aeee;
    background:#00aeee;
    height:40px;
    padding:8px 10px;
}
.myh-nav .Login:hover{
    border:1px solid #00aeee;
    background:#00aeee !important;
}
.myh-nav a.demo{
    border:1px solid #00aeee;
    margin:0px 10px;
    height:40px;
    padding:8px 10px;
    color: #00aeee !important;
}
.myh-nav ul.navbar-nav,.nav,.navbar-right{
    margin-right:30px;
}

#come-user{
    font-size:17px;
    height:40px;
    width:105px;
    margin-top:10px;
    top:11px;
    right:15px; 
    display:none;
}
/***********************登录******************/

.my-login .modal{
    background:rgba(250,250,250,0.8);
}

.my-login .modal-body{
    width:500px;
    padding:40px; 
    margin:0 auto;
}
.modal-body .wellcome-text{
   font-size:26px;
   text-align: center;
}
.modal-body .wellcome-dec{
    font-size:16px;
   text-align: center;
   margin-bottom:25px;
}

.modal-body .form-group{
    height:42px;
    margin-bottom: 15px;
    position:relative;
}
.modal-body input.form-conctol{
    border:0;
    border-bottom:1px solid #aaa;
    width:100%;
}
.modal-body .form-group span:nth-child(2){
    position:absolute;
    top:0px;
    font-size: 18px;
    transition:all 0.3s linear;
}
.modal-body .form-group span:nth-child(4){
    position:absolute;
    top:0px;
    right:0;
}
.move {
    position:absolute;
    top:-20px !important;
    font-size: 12px !important;
}
.modal-body .form-group>div{
    position:absolute;
    bottom:19px;
    left:50%;
    width:0;
    transition:all 0.3s linear;
    border:1px solid #00aeee;
}
.line{
    position:absolute;
    bottom:19px;
    left:0 !important;
    width:100% !important;
    border:1px solid #00aeee;
}
.modal-body .forget-text{
    text-align: right;
}
.modal-content .modal-footer{
    text-align: center;
}
.modal-content .modal-footer button{
    width:100px;
}




@media screen and (min-width:1200px){
 [class^='my-']{
   width:1160px;
   height:auto;
 }
}
@media screen and (min-width:992px) and(max-width:1199px) {
 [class^='my-']{
   width:970px;
   height:auto;  
 }
}

@media screen and (min-width:767px) and (max-width:991px) {
  [class^='my-']{
   width:750px;
   height:auto;
 }
}

@media screen and (max-width:766px) {
 [class^='my-']{
   width:700px;
   height:auto;
 }
}

